body{ margin: 0; padding: 0; border: 0; background-color:white; font-family: 'Maven Pro', sans-serif; overflow-x: hidden;}
/* CABEÇALHO */
.header{ height: 110px; width: 100%; background-color:#A6333D; z-index: 1400;}
.menu1{ padding-top: 30px; font-size: 18px; color: black solid; background-color:#A6333D ; font-weight:600;}

/*  CAIXINHAS*/
.notinhas1{background-color:#F2C744;}
.notas{background-color:#A6333D;}
